[Unit]
Description=Fav music collection
After=network.target

[Service]
User=leybovich-nikita
WorkingDirectory=/home/leybovich-nikita/potyk-mu
EnvironmentFile=/home/leybovich-nikita/potyk-mu/.env
ExecStart=/home/leybovich-nikita/potyk-mu/.venv/bin/flask run --host=0.0.0.0 --port=5004
Restart=always
RestartSec=10
StandardOutput=file:/home/leybovich-nikita/potyk-mu/logs/flask.log
StandardError=file:/home/leybovich-nikita/potyk-mu/logs/flask.error.log

[Install]
WantedBy=multi-user.target